@use '../../../styles/mixins' as mixins;

.charts {
  @include mixins.charts;
  min-width: 700px;

  .shopImg {
    padding: 5px;
    border-radius: 5px;

    &:hover {
      opacity: 0.8;
    }
  }
}
