.chart {
  background-color: #1f1f1f;
  border: 1px solid #525252;

  .chartTitle,
  .noData {
    color: #b2b2b2;
  }

  .shopImg {
    background-color: #191919;
    border: 1px solid #525252;
  }
}
