@import '../../abstracts//colors';

.wrapper {
  position: fixed;
  /*  background: linear-gradient(0deg, rgb(26 138 166 / 57%), rgb(4, 114, 145) */
  height: 100%;
  width: 260px;
  padding: 40px 0px;
  z-index: 1;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
  }
}

@media (max-width: 700px) {
  .wrapper {
    width: 80px;
  }
}
