@import '../abstracts/colors';

@mixin breadcrumbs {
  a {
    background: $color-light-grey;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 5px;
    color: $color-black;
    font-size: 12px;
  }

  span {
    font-size: 12px;
    color: $color-primary;
  }
}

@mixin cards($card-height) {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-white;
    padding: 10px;
    border: 1px solid $color-light-grey;
    border-radius: 5px;
    width: 220px;
    height: $card-height;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.3s ease;

    &:hover {
      -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
      -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.4);
      transition: box-shadow 0.3s ease;
    }
  }

  .cardLink {
    text-decoration: none;
  }

  .cardImg {
    margin: 0 auto;
  }

  .cardName {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: $color-primary;
  }
}