@import '../../abstracts/colors';

.checkboxTitle,
.checkboxShop {
  background: $color-light-grey;
  color: #b2b2b2;
  border: 1px solid $color-grey;
  color: $color-black;
}

.checkboxTitle {
  border-bottom: none;
}
