@import '../../base//mixins';

.cards {
  @include cards(150px);

  .categoryIcon {
    display: flex;
    justify-content: center;
    font-size: 62px;
    color: #3855b3;
  }
}

.shopImg,
.shopLinkImg {
  padding: 5px;
  border-radius: 5px;
}

.shopLinkImg {
  &:hover {
    opacity: 0.8;
  }
}

.headerPage {
  margin-bottom: 20px;
}

.productHeader {
  display: flex;
  gap: 20px;
}

.dateInputForm {
  margin-top: 24px;
}
