@import '../../abstracts/colors';

.wrapper {
  width: 100%;
  padding: 20px;
  margin-left: 260px;
  // min-width: 700px;

  h1 {
    margin: 20px 0px 30px;
  }
}

@media (max-width: 700px) {
  .wrapper {
    margin-left: 80px;
  }
}
