@import '../abstracts/colors';

.shops {
  display: flex;
  justify-content: space-evenly;

  a {
    color: $color-black;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
  }

  .shop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid $color-grey;
    width: 300px;
    height: 150px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
}
