.products {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .product {
    display: flex;
    padding: 20px;
    border: 1px solid #cccccc;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  }
}
