$color-primary: #3855b3;
$color-white: white;
$color-btn-blue: #344790;
$color-btn-blue-hover: #344d9f;
$color-grey: #cccccc;
$color-light-grey: #f1f1f1;
$color-black: black;
$color-pink: #bd507a;
$color-green: green;
$color-red: red;
$color-dark-red: #b83232;
