.text {
  display: flex;
  align-items: center;
  color: #000;
}

.aboutLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 5px;
  color: #000;

  &:hover {
    opacity: 0.8;
  }
}

.icon {
  font-size: 26px;
  margin-left: 5px;
}
