.productHeader {
  display: flex;
  gap: 20px;

  .productImg {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px 0px;
  }

  .productFilters {
    padding-top: 15px;
  }
}

@media (max-width: 1300px) {
  .productHeader {
    flex-direction: column;
  }
}
