@import '../abstracts/colors';

.wrapper {
  background-color: $color-primary;
  height: 100vh;
  min-width: 240px;
  padding: 40px 20px;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;

    img {
      margin-right: 10px;
    }
  }
}
