@import '../abstracts/colors';

.wrapper {
  background-color: $color-primary;
  height: 100vh;
  min-width: 240px;
  padding: 40px 20px;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;

    img {
      margin-right: 10px;
    }
  }

  .main-nav {
    ul {
      display: flex;
      flex-direction: column;
      gap: 14px;
      list-style-type: none;
    }

    li {
      a {
        display: block;
        border-radius: 4px;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        padding: 14px;
        &:hover {
          background-color: $color-btn-blue-hover;
          cursor: pointer;
        }
      }
    }

    li.active {
      display: block;
      background-color: $color-btn-blue;
      border-radius: 4px;
      &:hover {
        background-color: $color-btn-blue;
        cursor: default;
      }

      a {
        cursor: default;
      }
    }

    a {
      text-decoration: none;
      color: $color-white;
    }
  }
}
