@import '../abstracts/colors';

.charts {
  display: flex;
  flex-direction: column;

  .chart {
    background: $color-light-grey;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;

    .chartTitle {
      a {
        color: $color-primary;
        text-decoration: none;
      }
    }
  }
}
