@import '../abstracts/colors';

.charts {
  display: flex;
  flex-direction: column;

  .chart {
    background: $color-light-grey;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $color-grey;
    margin-bottom: 20px;
    img{
      margin-left: 10px;
    }

    .chartTitleWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      .chartTitle {
        a {
          color: $color-primary;
          text-decoration: none;
        }
      }
    }
  }
}
