@import './../../abstracts/colors';

.breadcrumbs {
  a {
    // background: $color-light-grey;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 5px;
    // color: $color-black;
    font-size: 12px;
  }

  span {
    font-size: 12px;
    color: $color-primary;
  }
}
